* {
    box-sizing: border-box;
}

#card{
    margin: 20px auto;
    max-width: 250px;
}

h1{
    text-align: center;
}

.container{
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 2px 3px rgb(171, 164, 164);
    
}

.btn{
    background-color: rgb(18, 201, 146);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bolder;
    display: flex;
    justify-self: center;
}